Repository AvaloniaUI/Avalonia, pull requests merged in 2022-11, with the labels that each got.

#9085 Disable set process name feature for MacOS
  native/Avalonia.Native/src/OSX/app.mm
  native/Avalonia.Native/src/OSX/common.h
  native/Avalonia.Native/src/OSX/main.mm
  src/Avalonia.Native/AvaloniaNativePlatform.cs
  src/Avalonia.Native/AvaloniaNativePlatformExtensions.cs
  src/Avalonia.Native/avn.idl
Labels: os-macos, backport-candidate

#9106 Added new optional parameter "quality" for IBitmap and IBitmapImpl.Save method
  src/Avalonia.Base/Media/Imaging/Bitmap.cs
  src/Avalonia.Base/Media/Imaging/IBitmap.cs
  src/Avalonia.Base/Platform/IBitmapImpl.cs
  src/Avalonia.Headless/HeadlessPlatformRenderInterface.cs
  src/Skia/Avalonia.Skia/Gpu/OpenGl/OpenGlBitmapImpl.cs
  src/Skia/Avalonia.Skia/Helpers/ImageSavingHelper.cs
  src/Skia/Avalonia.Skia/ImmutableBitmap.cs
  src/Skia/Avalonia.Skia/SurfaceRenderTarget.cs
  src/Skia/Avalonia.Skia/WriteableBitmapImpl.cs
  src/Windows/Avalonia.Direct2D1/Media/Imaging/BitmapImpl.cs
  src/Windows/Avalonia.Direct2D1/Media/Imaging/D2DBitmapImpl.cs
  src/Windows/Avalonia.Direct2D1/Media/Imaging/D2DRenderTargetBitmapImpl.cs
  src/Windows/Avalonia.Direct2D1/Media/Imaging/WicBitmapImpl.cs
Labels: api

#9342 [ARM only] Fix incorrect parameters passed to the CreateDrawingSurface method
  src/Windows/Avalonia.Win32/Interop/UnmanagedMethods.cs
  src/Windows/Avalonia.Win32/WinRT/Composition/WinUICompositorConnection.cs
  src/Windows/Avalonia.Win32/WinRT/winrt.idl
Labels: bug, os-windows

#8860 Remove public constructors for KeyEventArgs, PointerEventArgs and friends
  src/Avalonia.Base/Controls/NameScopeEventArgs.cs
  src/Avalonia.Base/Input/DragEventArgs.cs
  src/Avalonia.Base/Input/GotFocusEventArgs.cs
  src/Avalonia.Base/Input/KeyEventArgs.cs
  src/Avalonia.Base/Input/PointerDeltaEventArgs.cs
  src/Avalonia.Base/Input/PointerEventArgs.cs
  src/Avalonia.Base/Input/PointerWheelEventArgs.cs
  src/Avalonia.Base/Input/ScrollGestureEventArgs.cs
  src/Avalonia.Base/Input/TappedEventArgs.cs
  src/Avalonia.Base/Input/TextInputEventArgs.cs
  src/Avalonia.Base/Input/VectorEventArgs.cs
  src/Avalonia.Base/Layout/EffectiveViewportChangedEventArgs.cs
  src/Avalonia.Base/Rendering/SceneInvalidatedEventArgs.cs
Labels: breaking-change, wont-backport

#9358 Implement windows IntermediatePoints for the Mouse input
  src/Windows/Avalonia.Win32/Interop/UnmanagedMethods.cs
  src/Windows/Avalonia.Win32/WindowImpl.AppWndProc.cs
  src/Windows/Avalonia.Win32/WindowImpl.cs
Labels: os-windows

#9361 Fix the size issue of indicator border in ProgressBar
  src/Avalonia.Controls/ProgressBar.cs
Labels: bug

#9376 [OSX] Fixed multi-window freeze on Show when another window is rendering
  native/Avalonia.Native/src/OSX/rendertarget.mm
Labels: backport-candidate

#9400 Fix IME overflow on x86
  src/Windows/Avalonia.Win32/WindowImpl.AppWndProc.cs
Labels: bug, os-windows

#9434 CompiledBinding resolve template type from selector
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/Transformers/AvaloniaXamlIlMetadataRemover.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/Transformers/AvaloniaXamlIlSelectorTransformer.cs
  tests/Avalonia.Markup.Xaml.UnitTests/MarkupExtensions/CompiledBindingExtensionTests.cs
Labels: bug, area-xaml

#7247 Add feature switch to enable switching compiled bindings on by default.
  packages/Avalonia/AvaloniaBuildTasks.targets
  src/Avalonia.Build.Tasks/BuildEngineErrorCode.cs
  src/Avalonia.Build.Tasks/CompileAvaloniaXamlTask.cs
  src/Avalonia.Build.Tasks/XamlCompilerTaskExecutor.cs
  src/Avalonia.DesignerSupport/DesignWindowLoader.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/AvaloniaRuntimeXamlLoader.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/AvaloniaXamlIlRuntimeCompiler.cs
  src/Markup/Avalonia.Markup.Xaml/Avalonia.Markup.Xaml.csproj
  src/Markup/Avalonia.Markup.Xaml/AvaloniaXamlLoader.cs
  src/Markup/Avalonia.Markup.Xaml/RuntimeXamlLoaderConfiguration.cs
  src/tools/Avalonia.Designer.HostApp/DesignXamlLoader.cs
  tests/Avalonia.Markup.Xaml.UnitTests/MarkupExtensions/CompiledBindingExtensionTests.cs
  tests/Avalonia.Markup.Xaml.UnitTests/XamlTestBase.cs
Labels: area-xaml

#8628 PointerWheelEventArgs: don't modify wheel delta in the MouseDevice, but only in the ScrollPresenter
  src/Avalonia.Base/Input/MouseDevice.cs
  src/Avalonia.Base/Input/PointerWheelEventArgs.cs
  src/Avalonia.Controls/Presenters/ScrollContentPresenter.cs
Labels: bug

#9452 [X11] Skip TextInput event if KeyDown event was handled
  src/Avalonia.X11/X11Window.Ime.cs
  src/Avalonia.X11/X11Window.cs
Labels: bug, area-x11

#9451 [OSX] Fixed NativeMenu memory leak
  native/Avalonia.Native/src/OSX/menu.h
  native/Avalonia.Native/src/OSX/menu.mm
  src/Avalonia.MicroCom/CallbackBase.cs
  src/Avalonia.Native/IAvnMenu.cs
Labels: backport-candidate

#9221 Fix setting WindowState before showing Window.
  samples/IntegrationTestApp/MainWindow.axaml
  samples/IntegrationTestApp/MainWindow.axaml.cs
  samples/IntegrationTestApp/ShowWindowTest.axaml
  src/Windows/Avalonia.Win32/WindowImpl.AppWndProc.cs
  src/Windows/Avalonia.Win32/WindowImpl.cs
  tests/Avalonia.IntegrationTests.Appium/ElementExtensions.cs
  tests/Avalonia.IntegrationTests.Appium/WindowTests.cs
Labels: backport-candidate

#9460 Minor CompiledBinding fixes
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/XamlIlClrPropertyInfoHelper.cs
  src/Markup/Avalonia.Markup.Xaml/MarkupExtensions/CompiledBindings/CompiledBindingPath.cs
  tests/Avalonia.Markup.Xaml.UnitTests/MarkupExtensions/CompiledBindingExtensionTests.cs
Labels: bug, area-xaml

#9413 Resolve StyleInclude and ResourceInclude at compile time + revisit StyleInclude usage from the codebehind
  packages/Avalonia/AvaloniaBuildTasks.targets
  samples/ControlCatalog/App.xaml
  samples/ControlCatalog/App.xaml.cs
  samples/ControlCatalog/MainView.xaml.cs
  src/Avalonia.Build.Tasks/CompileAvaloniaXamlTask.cs
  src/Avalonia.Build.Tasks/Program.cs
  src/Avalonia.Build.Tasks/XamlCompilerTaskExecutor.cs
  src/Avalonia.Themes.Fluent/Accents/AccentColors.xaml
  src/Avalonia.Themes.Fluent/Accents/Base.xaml
  src/Avalonia.Themes.Fluent/Accents/BaseDark.xaml
  src/Avalonia.Themes.Fluent/Accents/BaseLight.xaml
  src/Avalonia.Themes.Fluent/Accents/FluentControlResourcesDark.xaml
  src/Avalonia.Themes.Fluent/Accents/FluentControlResourcesLight.xaml
  src/Avalonia.Themes.Fluent/Avalonia.Themes.Fluent.csproj
  src/Avalonia.Themes.Fluent/Controls/FluentControls.xaml
  src/Avalonia.Themes.Fluent/Controls/FluentControls.xaml.cs
  src/Avalonia.Themes.Fluent/Controls/NativeMenuBar.xaml
  src/Avalonia.Themes.Fluent/DensityStyles/Compact.xaml
  src/Avalonia.Themes.Fluent/FluentDark.xaml
  src/Avalonia.Themes.Fluent/FluentLight.xaml
  src/Avalonia.Themes.Fluent/FluentTheme.cs
  src/Avalonia.Themes.Fluent/FluentTheme.xaml
  src/Avalonia.Themes.Fluent/FluentTheme.xaml.cs
  src/Avalonia.Themes.Fluent/IBitmapToImageConverter.cs
  src/Avalonia.Themes.Fluent/InverseBooleanValueConverter.cs
  src/Avalonia.Themes.Simple/Accents/Base.xaml
  src/Avalonia.Themes.Simple/Accents/BaseDark.xaml
  src/Avalonia.Themes.Simple/Accents/BaseLight.xaml
  src/Avalonia.Themes.Simple/Avalonia.Themes.Simple.csproj
  src/Avalonia.Themes.Simple/Controls/NativeMenuBar.xaml
  src/Avalonia.Themes.Simple/IBitmapToImageConverter.cs
  src/Avalonia.Themes.Simple/InverseBooleanValueConverter.cs
  src/Avalonia.Themes.Simple/SimpleTheme.cs
  src/Avalonia.Themes.Simple/SimpleTheme.xaml
  src/Avalonia.Themes.Simple/SimpleTheme.xaml.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/AvaloniaXamlIlCompiler.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/Transformers/AvaloniaXamlIlAssetIncludeTransformer.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/Transformers/AvaloniaXamlIlWellKnownTypes.cs
  src/Markup/Avalonia.Markup.Xaml/Avalonia.Markup.Xaml.csproj
  src/Markup/Avalonia.Markup.Xaml/MarkupExtensions/StyleIncludeExtension.cs
  src/Markup/Avalonia.Markup.Xaml/Styling/ResourceInclude.cs
  src/Markup/Avalonia.Markup.Xaml/Styling/StyleInclude.cs
  src/Markup/Avalonia.Markup.Xaml/XamlIl/Runtime/XamlIlRuntimeHelpers.cs
  tests/Avalonia.Benchmarks/Themes/FluentBenchmark.cs
  tests/Avalonia.Benchmarks/Themes/ThemeBenchmark.cs
  tests/Avalonia.Markup.Xaml.UnitTests/Avalonia.Markup.Xaml.UnitTests.csproj
  tests/Avalonia.Markup.Xaml.UnitTests/Xaml/BasicTests.cs
  tests/Avalonia.Markup.Xaml.UnitTests/Xaml/StyleTests.cs
Labels: enhancement, area-xaml

#9469 [OSX] Use non-opaque window background for non-transparent windows
  native/Avalonia.Native/src/OSX/AvnWindow.mm
  native/Avalonia.Native/src/OSX/WindowBaseImpl.h
  native/Avalonia.Native/src/OSX/WindowBaseImpl.mm
  src/Avalonia.Native/WindowImplBase.cs
  src/Avalonia.Native/avn.idl
Labels: backport-candidate

#9179 DataGrid RowTheme/CellTheme and removal of AlternatingRowBackground
  samples/ControlCatalog/Pages/DataGridPage.xaml
  src/Avalonia.Controls.DataGrid/DataGrid.cs
  src/Avalonia.Controls.DataGrid/DataGridColumn.cs
  src/Avalonia.Controls.DataGrid/DataGridColumnHeader.cs
  src/Avalonia.Controls.DataGrid/DataGridRow.cs
  src/Avalonia.Controls.DataGrid/DataGridRowGroupHeader.cs
  src/Avalonia.Controls.DataGrid/DataGridRows.cs
  src/Avalonia.Controls.DataGrid/Themes/Fluent.xaml
  src/Avalonia.Controls.DataGrid/Themes/Simple.xaml
Labels: api, area-datagrid, breaking-change

#9498 Update ncrunch configuration.
  .ncrunch/Avalonia.Benchmarks.v3.ncrunchproject
  .ncrunch/Avalonia.Browser.Blazor.v3.ncrunchproject
  .ncrunch/Avalonia.Browser.v3.ncrunchproject
  .ncrunch/Avalonia.Designer.HostApp.v3.ncrunchproject
  .ncrunch/Avalonia.Themes.Fluent.net6.0.v3.ncrunchproject
  .ncrunch/Avalonia.Themes.Fluent.netstandard2.0.v3.ncrunchproject
  .ncrunch/Avalonia.Themes.Simple.net6.0.v3.ncrunchproject
  .ncrunch/Avalonia.Themes.Simple.netstandard2.0.v3.ncrunchproject
  .ncrunch/ControlCatalog.Browser.Blazor.v3.ncrunchproject
  .ncrunch/ControlCatalog.Browser.v3.ncrunchproject
  .ncrunch/MobileSandbox.v3.ncrunchproject
Labels: infrastructure

#9520 Android - Adjust toplevel size when onscreen keyboard is shown or hidden
  src/Android/Avalonia.Android/AndroidInputMethod.cs
  src/Android/Avalonia.Android/AvaloniaMainActivity.cs
  src/Android/Avalonia.Android/Platform/SkiaPlatform/TopLevelImpl.cs
Labels: os-android

#9558 Fix ClearType rendering
  src/Browser/Avalonia.Browser/Skia/BrowserSkiaGpuRenderSession.cs
  src/Skia/Avalonia.Skia/FramebufferRenderTarget.cs
  src/Skia/Avalonia.Skia/Gpu/OpenGl/FboSkiaSurface.cs
  src/Skia/Avalonia.Skia/Gpu/OpenGl/GlRenderTarget.cs
  src/Skia/Avalonia.Skia/Gpu/OpenGl/OpenGlBitmapImpl.cs
  src/Skia/Avalonia.Skia/SurfaceRenderTarget.cs
  tests/TestFiles/Skia/Controls/TextBlock/RestrictedHeight_VerticalAlign.expected.png
Labels: backport-candidate

#9568 Fix typo in Rect.cs
  src/Avalonia.Base/Rect.cs
Labels: enhancement, backport-candidate
