Repository AvaloniaUI/Avalonia, pull requests merged in 2023-09, with the labels that each got.

#12754 Fix property analyzer exception with object initializers in cctors
  src/tools/Avalonia.Analyzers/AvaloniaPropertyAnalyzer.CompileAnalyzer.cs
Labels: area-analyzers

#12574 Win32+Angle: reuse the first created D3D11 display
  src/Windows/Avalonia.Win32/OpenGl/Angle/AngleWin32PlatformGraphics.cs
  src/Windows/Avalonia.Win32/OpenGl/Angle/AngleWin32PlatformGraphicsFactory.cs
  src/Windows/Avalonia.Win32/OpenGl/Angle/D3D11AngleWin32PlatformGraphics.cs
  src/Windows/Avalonia.Win32/OpenGl/Angle/D3D9AngleWin32PlatformGraphics.cs
  src/Windows/Avalonia.Win32/Win32GlManager.cs
  src/Windows/Avalonia.Win32/WindowImpl.cs
Labels: perf, os-windows

#12787 fix: DataGrid scroll should behave the same as ScrollViewer
  src/Avalonia.Controls.DataGrid/DataGrid.cs
Labels: bug, area-datagrid, regression

#12765 Ensure GlyphRunImpl has consistent bounds
  src/Skia/Avalonia.Skia/GlyphRunImpl.cs
  src/Skia/Avalonia.Skia/GlyphTypefaceImpl.cs
  src/Skia/Avalonia.Skia/PlatformRenderInterface.cs
  tests/Avalonia.RenderTests/Assets/Inter-Regular.ttf
  tests/Avalonia.Skia.UnitTests/Media/GlyphRunTests.cs
Labels: area-textprocessing

#12781 Fix interpolator being called after last animation iteration
  src/Avalonia.Base/Animation/AnimationInstance`1.cs
  tests/Avalonia.Base.UnitTests/Animation/AnimationIterationTests.cs
Labels: area-animations

#12900 Add ThreadProxyRenderTimer
  src/Avalonia.Base/Rendering/ThreadProxyRenderTimer.cs
  src/Avalonia.Native/AvaloniaNativePlatform.cs
Labels: os-macos

#12915 Change iOS initialization order
  src/iOS/Avalonia.iOS/AvaloniaAppDelegate.cs
Labels: os-ios

#12941 [X11] Don't convert the current time from long to int
  src/Avalonia.X11/X11PlatformThreading.cs
Labels: backport-candidate-11.0.x

#12774 [Mac] Fixes raw keyDown/textInput handling
  native/Avalonia.Native/src/OSX/AvnView.mm
Labels: backport-candidate-11.0.x

#12948 Add support for setting tooltip text for TrayIcons on MacOS
  native/Avalonia.Native/src/OSX/trayicon.h
  native/Avalonia.Native/src/OSX/trayicon.mm
  src/Avalonia.Native/TrayIconImpl.cs
  src/Avalonia.Native/avn.idl
Labels: enhancement, api, os-macos

#12958 FluentTheme: settable ListBoxItem.FontWeight/FontSize
  src/Avalonia.Themes.Fluent/Controls/ListBoxItem.xaml
Labels: area-fluent

#13001 Fix XAML name generator with non-Avalonia XAML files
  samples/Generators.Sandbox/Generators.Sandbox.csproj
  src/tools/Avalonia.Generators/GeneratorContextExtensions.cs
  src/tools/Avalonia.Generators/NameGenerator/AvaloniaNameSourceGenerator.cs
Labels: area-xaml, area-analyzers, backport-candidate-11.0.x

#12979 Fix HeadlessUnitTestSession creation race condition
  src/Avalonia.Base/Media/MediaContext.Clock.cs
  src/Avalonia.Base/Media/MediaContext.Compositor.cs
  src/Avalonia.Base/Media/MediaContext.cs
  src/Avalonia.Base/Rendering/Composition/CompositionDrawingSurface.cs
  src/Avalonia.Base/Rendering/Composition/Compositor.cs
  src/Avalonia.Base/Threading/Dispatcher.Queue.cs
  src/Headless/Avalonia.Headless.XUnit/AvaloniaTestCase.cs
  src/Headless/Avalonia.Headless.XUnit/AvaloniaTestCaseRunner.cs
  src/Headless/Avalonia.Headless/HeadlessUnitTestSession.cs
  tests/Avalonia.Headless.XUnit.UnitTests/AssemblyInfo.cs
  tests/Avalonia.RenderTests/TestBase.cs
  tests/Avalonia.UnitTests/CompositorTestServices.cs
  tests/Avalonia.UnitTests/RendererMocks.cs
Labels: infrastructure, area-headless

#13006 Added PhysicalKey handling for Android
  src/Android/Avalonia.Android/Platform/Specific/Helpers/AndroidKeyInterop.cs
  src/Android/Avalonia.Android/Platform/Specific/Helpers/AndroidKeyboardEventsHelper.cs
  src/Avalonia.Base/Input/KeySymbolHelper.cs
Labels: os-android

#13012 Bump minimal TFM for mobile projects from .NET 6 to .NET 7…
  nukebuild/ApiDiffValidation.cs
  samples/ControlCatalog.Android/ControlCatalog.Android.csproj
  samples/ControlCatalog.iOS/ControlCatalog.iOS.csproj
  samples/MobileSandbox.Android/MobileSandbox.Android.csproj
  samples/MobileSandbox.iOS/MobileSandbox.iOS.csproj
  samples/SafeAreaDemo.iOS/SafeAreaDemo.iOS.csproj
  src/Android/Avalonia.Android/Avalonia.Android.csproj
  src/iOS/Avalonia.iOS/Avalonia.iOS.csproj
Labels: breaking-change, os-ios, os-android

#13017 Fix MobileSandbox.iOS TFM
  samples/MobileSandbox.iOS/MobileSandbox.iOS.csproj
Labels: os-ios

#12899 MacOS file type filter in native file dialog
  native/Avalonia.Native/src/OSX/AvnString.h
  native/Avalonia.Native/src/OSX/AvnString.mm
  native/Avalonia.Native/src/OSX/SystemDialogs.mm
  samples/ControlCatalog/Pages/DialogsPage.xaml
  samples/ControlCatalog/Pages/DialogsPage.xaml.cs
  src/Avalonia.Base/Platform/Storage/FilePickerFileType.cs
  src/Avalonia.Base/Platform/Storage/FilePickerFileTypes.cs
  src/Avalonia.Native/AvnString.cs
  src/Avalonia.Native/SystemDialogs.cs
  src/Avalonia.Native/avn.idl
  src/Browser/Avalonia.Browser/Storage/BrowserStorageProvider.cs
  src/iOS/Avalonia.iOS/Storage/IOSStorageProvider.cs
Labels: bug, enhancement, os-macos

#12865 macOS: Disallow entering fullscreen when showing window.
  native/Avalonia.Native/src/OSX/WindowBaseImpl.mm
Labels: backport-candidate-0.10.x, backport-candidate-11.0.x
