Repository AvaloniaUI/Avalonia, pull requests merged in 2023-07, with the labels that each got.

#12057 Fix AutoCompleteBox not opening when the text box is empty
  samples/ControlCatalog/Pages/AutoCompleteBoxPage.xaml
  src/Avalonia.Controls/AutoCompleteBox/AutoCompleteBox.cs
  tests/Avalonia.Controls.UnitTests/AutoCompleteBoxTests.cs
Labels: bug

#12036 Add event trigger time in DevTools. #11338
  src/Avalonia.Diagnostics/Diagnostics/ViewModels/EventTreeNode.cs
  src/Avalonia.Diagnostics/Diagnostics/ViewModels/FiredEvent.cs
  src/Avalonia.Diagnostics/Diagnostics/Views/EventsPageView.xaml
Labels: enhancement, area-dev-tools

#12043 Use CancellationToken in AvaloniaNameGenerator
  src/tools/Avalonia.Generators/NameGenerator/AvaloniaNameGenerator.cs
  src/tools/Avalonia.Generators/NameGenerator/AvaloniaNameSourceGenerator.cs
  src/tools/Avalonia.Generators/NameGenerator/INameGenerator.cs
Labels: enhancement, area-analyzers

#12056 Fix EGL OpenGLControlBase on Win32
  src/Avalonia.Base/Platform/Storage/PickerOptions.cs
  src/Windows/Avalonia.Win32/OpenGl/WglDisplay.cs
  src/Windows/Avalonia.Win32/Win32GlManager.cs
Labels: bug, os-windows

#12074 Drop original internal XAML resources after merge
  src/Avalonia.Build.Tasks/XamlCompilerTaskExecutor.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/AvaloniaXamlIlRuntimeCompiler.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/AvaloniaXamlIlCompiler.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/GroupTransformers/XamlMergeResourceGroupTransformer.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/IXamlDocumentResource.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/XamlDocumentResource.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/XamlDocumentTypeBuilderProvider.cs
  src/Markup/Avalonia.Markup.Xaml.Loader/CompilerExtensions/XamlDocumentUsage.cs
Labels: enhancement, area-xaml

#12146 Fix composition render resources invalidation
  src/Avalonia.Base/Rendering/Composition/Drawing/ServerCompositionRenderData.cs
  src/Avalonia.Base/Utilities/SmallDictionary.cs
  tests/Avalonia.Base.UnitTests/Utilities/InlineDictionaryTests.cs
Labels: area-composition

#12193 Fix SelectedValueBinding with items defined in XAML
  src/Avalonia.Controls/Primitives/SelectingItemsControl.cs
  tests/Avalonia.Controls.UnitTests/Primitives/SelectingItemsControlTests_SelectedValue.cs
Labels: bug

#12196 Added support for Mica Light & Dark based on Win11
  src/Windows/Avalonia.Win32/WinRT/Composition/D2DEffects.cs
  src/Windows/Avalonia.Win32/WinRT/Composition/WinUIEffectBase.cs
  src/Windows/Avalonia.Win32/WinRT/Composition/WinUiCompositedWindow.cs
  src/Windows/Avalonia.Win32/WinRT/Composition/WinUiCompositionShared.cs
  src/Windows/Avalonia.Win32/WinRT/Composition/WinUiCompositionUtils.cs
  src/Windows/Avalonia.Win32/WinRT/IBlurHost.cs
  src/Windows/Avalonia.Win32/WinRT/WinRTPropertyValue.cs
  src/Windows/Avalonia.Win32/WindowImpl.cs
Labels: enhancement, os-windows

#12248 macOS native: fix destructors accessing freed .NET objects
  native/Avalonia.Native/src/OSX/app.mm
  native/Avalonia.Native/src/OSX/common.h
  native/Avalonia.Native/src/OSX/main.mm
  src/Avalonia.Native/AvaloniaNativePlatform.cs
Labels: os-macos

#12088 feat(DataGrid): Allow binding DataGridColumn Witdh
  samples/ControlCatalog/Models/GDPdLengthConverter.cs
  samples/ControlCatalog/Pages/DataGridPage.xaml
  src/Avalonia.Controls.DataGrid/DataGridColumn.cs
  src/Avalonia.Controls.DataGrid/DataGridColumnHeader.cs
  src/Avalonia.Controls.DataGrid/DataGridColumns.cs
  src/Avalonia.Controls.DataGrid/DataGridLength.cs
Labels: area-datagrid

#12174 Fixed issue where RowDetailsTemplate was getting the wrong DataContext
  src/Avalonia.Controls.DataGrid/DataGridRows.cs
Labels: area-datagrid
